<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <nav class="nav-list">
        <ul class="nav-list">
            <li><a href="">Learn</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Plans</a></li>
            <li><a href="">Notes</a></li>
            <li><a href="">Progress</a></li>
        </ul>
        <div class='right-nav'>
            <input type="text" name="search" id="search" />
            <button type="button" class="search_btn">Search</button>
        </div>
    </nav>    
</body>
</html>
