{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}



{% block content %}
<div class="show-data">
  
  <form action="{{ url_for('date_chosen')}}" method="post">
    <center><input type="date" id="date" name="date"><button type="submit">see plans</button></center>
    
  </form>
    
</div>
<div class="flex-container">

  <div class="flex-child magenta">
    <ul>
      {% for item in data[0] %}
          {% for inner in item %}

          <li>{{inner}}</li>

          {% endfor %}
      {% endfor %}
      </ul>
    
    <div class="plan-edit-buttons">
    <button onclick="">ADD TASK</button>
    <button onclick="">EDIT TASK</button>
    </div>

  </div>
  
  <div class="flex-child green">
    {% for item in data[1] %}
      {% for inner in item %}

      <li>{{inner}}</li>
      {% endfor %}
    {% endfor %}

  </div>
  
</div>


{% endblock %}
